#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #0f8bc4;
  max-width: 1920px;
  overflow-x: auto;
  height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.showZone {
  opacity: 1;
  border: 1px dashed #a4a4a4;
  background-color: #ff0000;
}

.hideZone {
  opacity: 0;
  background-color: #f6ff00;
}

.hide-list-overlay {
  opacity: 0;
  width: 10px;
  transition: opacity 0.5s;
}

.show-list-overlay {
  opacity: 1;
  border: 1px dashed #a4a4a4;
  background-color: #000000;
  margin: 0 10px;
  transition: opacity 0.5s;
}

.draggingItem {
  opacity: 0.5;
}

.padding {
  margin: 100px 0px;
  background-color: rgb(43, 255, 0);
}

.card {
}

.card:active {
  opacity: 0.8;
}

.list {
  padding: 10px;
  overflow-y: auto;
  max-height: 90vh;
  height: 100%;
}

.list:active {
  opacity: 0.8;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* İçeriğin arka plan rengini değiştirdim */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hafif gölge ekledim */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 10px; /* Köşeleri yuvarlattım */
}

.modal-close-icon {
  top: 10px;
  right: 10px;
  position: absolute;
  cursor: pointer;
}

.input-text {
  color: #a4a4a4;
}
